.common{
    position: absolute;
}

.title{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 150px;
    border-bottom: solid 1px rgb(8, 52, 117);
}

.picture{
    top: 181px;
    height: 750px;
    width: 100%;
    /* border-bottom: solid 1px green; */
}

.ingins{
    top: 961px;
    height: 300px;
    width: 100%;
    /* border-bottom: solid 1px green; */
}

.video{
    top: 1291px;
    height: 200px;
    width: 100%;
    /* border-bottom: solid 1px green; */
}

.topTableau{
    top: 1521px;
    height: 50px;
    width: 100%;
}

.tableau{
    top: 1571px;
}

.subheader{
    float: right;
}

.footer{
    bottom: 5px;
    right: 5px;
    left: 5px;
    height: 25px;
    font-size: 15px;
    color: rgb(8, 52, 117);
    text-align: center;
    padding-top: 15px;
    position: fixed;
}